<!DOCTYPE html>
<html>
    <head>
        {% include 'html/head.liquid' %}
        {% include 'html/head/contactform.liquid' %}
        <title>{{ title }}</title>
    </head>
    <body class="content">
        {{ content }}
    </body>
</html>
