// error colors
$wheelE: #b84639; /* hsb(006, 069, 072); */
$wheelE-lightest: #ffefef;
$wheelE-accent: #f24141;

// adobe colors split complementary
$colorWheelA: #e59d83;
$colorWheelB: #996350;
$colorWheelC: #477d98;
$colorWheelD: #e5c355;
$colorWheelE: #998440;

// base colors
$colorContrastA: #fff;
$colorContrastB: #000;
