---
title: "Marina Salnikova: web development and web design"
permalink: index.html
layout: "layouts/index.liquid"
---

<section class="hero is-halfheight">
    <div class="hero-body">
        <h1 class="title">Marina Salnikova</h1>
        <!-- <p class="subtitle">web&nbsp;development / web&nbsp;design</p> -->
    </div>
</section>
