.hero {
    .hero-body {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(/img/02.jpg);

        // .title,
        // .subtitle {
        //     color: #fff;
        //     text-shadow: 0px 0px 16px #035, 0px 0px 8px #000;
        // }

        // .title {
        //     font-size: 3.75rem;
        // }
    }
}
