@use 'sass:color';
@use '../../../../node_modules/bulma/sass/utilities/_all.sass' as bulma;
@use '../variables' as vars;

span.brand {
    text-transform: uppercase;
    white-space: nowrap;

    span:nth-child(1) {
        font-weight: 900;
    }

    span:nth-child(2) {
        font-weight: 900;
    }
}

img.brand {
    height: 1em;
}

article {
    max-width: 960px;
    margin: 100px auto;

    .cv-head {

        .photo {
            margin-bottom: -20%;

            img {
                width: 20%;
                border-radius: 50%;
                border: 1px solid #fff;
                box-shadow: 0 0 10px #343456;
                margin-left: 10%;
            }
        }

        .about {
            position: relative;
            left: 33%;
            margin-bottom: 0.7em;
            margin-right: 0;
            width: 65%;
        }
    }
}

/**
 * https://github.com/elipapa/markdown-cv/blob/master/media/kjhealy-screen.css
 */

.cv {
    p {
        position: relative;
        left: 33%;
        margin-bottom: 0.7em;
        margin-right: 0;
        width: 65%;
    }

    code {
        color: vars.$colorWheelE;
    }

    p code {
        position: absolute;
        right: 105%;
        top: 1.5em;
        text-align: right;
        width: max-content;
        max-width: 27%;
    }


    ul {
        position: relative;
        left: 33%;
        width: 65%;
        margin-bottom: 1.5rem;
        margin-left: 0;
    }

    li {
        align-items: center;
        color: darken(vars.$colorWheelE, 50%);
        background-color: lighten(vars.$colorWheelE, 50%);
        border-radius: 0.375em;
        display: inline-flex;
        height: 2em;
        justify-content: center;
        line-height: 1.5;
        padding-left: 0.75em;
        padding-right: 0.75em;
        white-space: nowrap;
        margin-right: 1rem;
        margin-bottom: 0.5em;
    }

    li ul {
        position: relative;
        left: 0;
        width: 100%;
        margin-top: 0.25em;
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: 400;
        font-family: Cousine, Verdana, sans-serif;
        width: 65%;
        margin-bottom: 1.5em;
    }

    h1 {
        text-align: left;
        font-size: 3em;
        line-height: 1em;
        position: relative;
        left: 33%;
    }

    h1+p {
        /*subtitle*/
        font-style: italic;
        font-size: 110%;
    }

    h2 {
        font-size: 1.1em;
        color: vars.$colorWheelB;
        margin-top: 3em;
        position: relative;
        top: 1.4em;
        text-align: right;
        width: 30%;
    }

    h3 {
        font-size: 1em;
        line-height: 2em;
        position: relative;
        top: 1.7em;
        text-align: right;
        width: 20%;
    }

    em {
        font-weight: bold;
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }
}